body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: Lato;
    background-color: #bbbbe3;
    
}

#welcome {
    color: #fff;
    text-align: center;
    padding: 100px; /* Ajustez la hauteur du padding selon vos besoins */
    background: linear-gradient(to bottom, #89a1a0, #d6cdc6); /* Dégradé du haut vers le bas */
    background-image: url(/images/fond.avif);
    background-size: cover;
}

#welcome h1 {
    margin: 0;
    font-size: 50px; /* Ajustez la taille de la police selon vos besoins */
    font-family: 'Lato', sans-serif; /* Utilisation de la police Lato */
    font-style: italic;
}

header {
    background: #131352;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-right: 25px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #465db3;
    border-radius: 5px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    padding: 0 20px;
}

/*PROJET */
#projects {
    margin: 20px 0;
    padding: 0 20px; /* Ajoute une marge sur les côtés */
}

.project {
    padding: 20px;
    margin: 20px 0; /* Marge entre les projets */
    border-radius: 8px;
    text-align: center;
    width: 100%; /* Assure que chaque projet occupe toute la largeur disponible */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

.project h3 {
    margin-top: 0;
    text-align: center; /* Centre le titre */
}

/*FOOTER */
footer {
    background-color: #131352;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

h2 {
    text-align: center;
    color: white; /* Couleur du texte */
    font-size: 36px; /* Taille de la police */
    font-weight: bold; /* Poids de la police */
    text-shadow: 0px 2px 8px #89a1a0; /* Ombre portée */
 }
  

p, h3{
    color: white;
}
/*ABOUT */
#about {
    padding: 20px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    padding-right: 20px; /* Adjust the spacing between text and image */
}

.about-text p {
    margin-bottom: 10px;
}

.about-text ul {
    list-style-type: none;
    padding: 0;
}

.about-text li {
    margin-bottom: 5px;
}

.profile-pic {
    max-width: 200px; /* Adjust the size of the profile picture */
    border-radius: 10%;
    margin-left: 20px; /* Adjust the spacing between image and text */
}

/*carousel */
.project .carousel {
    position: relative;
    max-width: 500px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 8px;
}

.project .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.project .carousel-images img {
    width: 100%;
    border-radius: 8px;
}

.project .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.project .carousel-button.prev {
    left: 10px;
}

.project .carousel-button.next {
    right: 10px;
}

.project .carousel-button:hover {
    background: rgba(0, 0, 0, 0.7);
}

/* Styles pour les écrans moyens et plus petits */
@media only screen and (max-width: 768px) {
    header nav ul {
        justify-content: center;
    }

    header nav ul li {
        margin-right: 15px;
    }
}
